h1 {
    color:blue;
    text-align: center;

}

table,tr,th,td {
    border: 2px solid black;
    border-collapse: collapse;
}

#professionTbl{
    width:50%;
}

#specialWord{
    font-style: italic;
    font-weight: bold;
}

.top{
    height: 100px;
    width: 80%;
    background-color: cadetblue;
    margin-left: 10%;
}

.middle{
    height: 600px;
    width:  80%;
    background-color: darkgrey;
    margin-left: 10%;

}

.bottom{
    height: 200px;
    width: 80%;
    background-color: cadetblue;
    margin-left: 10%;


}